### Exercise 2 - Wines

Import necessary libraries.

In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Loading the two datasets needed for this analysis.

In [53]:
csv_df = pd.read_csv('winemag-data_first150k.csv')
json_df = pd.read_json('winemag-data-130k-v2.json')

Printing headers to make sure all the information is imported correctly.

In [54]:
csv_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [55]:
json_df.head()

,points,title,description,taster_name,taster_twitter_handle,price,designation,variety,region_1,region_2,province,country,winery
0,87,Nicosia 2013 Vulkà Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",Kerin O’Keefe,@kerinokeefe,NaN,Vulkà Bianco,White Blend,Etna,None,Sicily & Sardinia,Italy,Nicosia
1,87,Quinta dos Avidagos 2011 Avidagos Red (Douro),"This is ripe and fruity, a wine that is smooth...",Roger Voss,@vossroger,15.0,Avidagos,Portuguese Red,None,None,Douro,Portugal,Quinta dos Avidagos
2,87,Rainstorm 2013 Pinot Gris (Willamette Valley),"Tart and snappy, the flavors of lime flesh and...",Paul Gregutt,@paulgwine,14.0,None,Pinot Gris,Willamette Valley,Willamette Valley,Oregon,US,Rainstorm
3,87,St. Julian 2013 Reserve Late Harvest Riesling ...,"Pineapple rind, lemon pith and orange blossom ...",Alexander Peartree,None,13.0,Reserve Late Harvest,Riesling,Lake Michigan Shore,None,Michigan,US,St. Julian
4,87,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,"Much like the regular bottling from 2012, this...",Paul Gregutt,@paulgwine,65.0,Vintner's Reserve Wild Child Block,Pinot Noir,Willamette Valley,Willamette Valley,Oregon,US,Sweet Cheeks

Getting a single dataframe that is the union of both files.

In [56]:
wines_df = pd.merge(left=csv_df,right=json_df,how='outer')
#Filtering the columns we are interested in
wines_df = wines_df[['country','designation','points','price','province','winery']]
wines_df

,country,designation,points,price,province,winery
0,US,Martha's Vineyard,96,235.0,California,Heitz
1,Spain,Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Bodega Carmen Rodríguez
2,US,Special Selected Late Harvest,96,90.0,California,Macauley
3,US,Reserve,96,65.0,Oregon,Ponzi
4,France,La Brûlade,95,66.0,Provence,Domaine de la Bégude
...,...,...,...,...,...,...
234665,Germany,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,Dr. H. Thanisch (Erben Müller-Burggraef)
234666,US,None,90,75.0,Oregon,Citation
234667,France,Kritt,90,30.0,Alsace,Domaine Gresser
234668,France,None,90,32.0,Alsace,Domaine Marcel Deiss
234669,France,Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Domaine Schoffit

Removing duplicates with drop_duplicates.

In [57]:
wines_df.drop_duplicates(inplace=True)
wines_df

,country,designation,points,price,province,winery
0,US,Martha's Vineyard,96,235.0,California,Heitz
1,Spain,Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Bodega Carmen Rodríguez
2,US,Special Selected Late Harvest,96,90.0,California,Macauley
3,US,Reserve,96,65.0,Oregon,Ponzi
4,France,La Brûlade,95,66.0,Provence,Domaine de la Bégude
...,...,...,...,...,...,...
234664,France,Seppi Landmann Vallée Noble,90,28.0,Alsace,Domaine Rieflé-Landmann
234665,Germany,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,Dr. H. Thanisch (Erben Müller-Burggraef)
234666,US,None,90,75.0,Oregon,Citation
234668,France,None,90,32.0,Alsace,Domaine Marcel Deiss
234669,France,Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Domaine Schoffit

Checking how many null values are in the dataframe.

In [58]:
wines_df.isna().sum()

country           58
designation    43546
points             0
price          11779
province          58
winery             0
dtype: int64

Changing null values in 'price' column with zeros.

In [59]:
wines_df['price'].fillna(0,inplace=True)

Checking again the null values in the dataframe.

In [60]:
wines_df.isna().sum()

country           58
designation    43546
points             0
price              0
province          58
winery             0
dtype: int64

Removing null values with dropna.

In [61]:
wines_df.dropna(inplace=True)

In [62]:
wines_df.isna().sum()

country        0
designation    0
points         0
price          0
province       0
winery         0
dtype: int64

As we can see, we only have 111838 rows left after dropping null values.

In [65]:
wines_df

,country,designation,points,price,province,winery
0,US,Martha's Vineyard,96,235.0,California,Heitz
1,Spain,Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Bodega Carmen Rodríguez
2,US,Special Selected Late Harvest,96,90.0,California,Macauley
3,US,Reserve,96,65.0,Oregon,Ponzi
4,France,La Brûlade,95,66.0,Provence,Domaine de la Bégude
...,...,...,...,...,...,...
234662,Israel,Oak Aged,90,20.0,Galilee,Dalton
234663,France,Domaine Saint-Rémy Herrenweg,90,0.0,Alsace,Domaine Ehrhart
234664,France,Seppi Landmann Vallée Noble,90,28.0,Alsace,Domaine Rieflé-Landmann
234665,Germany,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,Dr. H. Thanisch (Erben Müller-Burggraef)
234669,France,Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Domaine Schoffit

Extracting a subset of wines from Spain with 'reserva' in their designation.
- Filtering by country name with wines_df['country'] == 'Spain'
- Filtering by 'reserva' with method str.contains('reserva',case=False)

In [83]:
spanish_wines_df = wines_df[(wines_df['country'] == 'Spain') & (wines_df['designation'].str.contains('reserva',case=False))]
spanish_wines_df

,country,designation,points,price,province,winery
1,Spain,Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Bodega Carmen Rodríguez
17,Spain,6 Años Reserva Premium,95,80.0,Northern Spain,Valduero
21,Spain,Prado Enea Gran Reserva,95,79.0,Northern Spain,Muga
161,Spain,Arnegui Reserva,90,22.0,Northern Spain,Pagos del Rey
191,Spain,Brut Reserva,89,17.0,Catalonia,Bohigas
...,...,...,...,...,...,...
234140,Spain,Santa Rosa Reserva,93,50.0,Levante,Enrique Mendoza
234429,Spain,Reserva,88,40.0,Northern Spain,Finca Albret
234525,Spain,Reserva,90,18.0,Northern Spain,Taron
234535,Spain,Viña Olagosa Gran Reserva,90,21.0,Northern Spain,Bodegas Perica
234610,Spain,Gran Reserva,91,43.0,Northern Spain,Valserrano